<!DOCTYPE html>
<html lang="en" ng-app="produtoModule">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>SCP - Sistema de Cadastro de Produtos</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="control/produto.js"></script>
</head>
<body ng-controller="produtoControl">   

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  

  <div ng-include src="'menu.html'"></div>

  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>    
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-1 control-label">Código</label>
            <div class="col-sm-5">
              <input type="code" class="form-control" ng-model="produto.codigo" placeholder="Código" disabled="true">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="col-sm-1 control-label">Nome</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" ng-model="produto.nome" placeholder="Nome">
            </div>
          </div>          
          <div class="form-group">
            <label for="exampleInputPassword1" class="col-sm-1 control-label">Fornecedor</label>
            <div class="col-sm-5">
              <select class="form-control" ng-model="produto.fornecedor" ng-selected="produto.fornecedor" 
              ng-options="fornecedor.nome for fornecedor in fornecedores track by fornecedor.codigo">                
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-info" ng-click="novo();" >Novo</button>
          <button type="submit" class="btn btn-default" ng-click="salvar();" >Salvar</button>
          <button type="button" class="btn btn-danger" ng-click="excluir();">Excluir</button>
        </form>      
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <table class="table table-hover">
        <th>Código</th>
        <th>Nome</th>
        <th>Fornecedor</th>
        <tr ng-repeat="produtoTabela in produtos" ng-click="selecionaProduto(produtoTabela);">
          <td>{{produtoTabela.codigo}}</td>
          <td>{{produtoTabela.nome}}</td>
          <td>{{produtoTabela.fornecedor.nome}}</td>
        </tr>
        </table>
      </div>    
    </div>

  </div>

</body>
</html>
